* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Manrope', sans-serif;
}

.main-container {
    display: flex;
    min-height: 100vh;
    color: #333;
}

.image {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    width: 40%; 
}

.image img {
    width: 450px; 
    height: 450px; 
    border-radius: 50%; 
    object-fit: cover;

}

.left-container {
    width: 0; 
    background-color: #D6FFBF;
}

/* Right Container */
.right-container {
    width: 60%;
    padding: 50px;
    background-color: #f9f9f9;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

.right-Name h1 {
    font-size: 3rem;
    font-weight: 800;
    color: #2e7d32; 
}

.right-description p {
    font-size: 1.125rem;
    font-weight: 300;
    color: black;
    line-height: 1.6;
}

/* Buttons */
.right-buttons {
    display: flex;
    gap: 15px;
}

button {
    width: 100px; 
    height: 100px; 
    font-size: 1rem;
    font-weight: 600;
    color: #ffffff;
    border: none;
    border-radius: 50%; 
    cursor: pointer;

}

.resume-btn {
    background-color: #66bb6a; 
}

.projects-btn {
    background-color: #4caf50; 
}

.contact-btn {
    background-color: #388e3c; 
}

.resume-btn:hover {
    background-color: #57a757; 
}

.projects-btn:hover {
    background-color: #43a047; 
}

.contact-btn:hover {
    background-color: #2e7d32; 
}







